// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "components/card";
@import "components/button";
@import "components/banner";


$beige: #FCD0A1;

h1 {
  font-family: 'Lora', serif;
  font-size: 4em;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Oxygen', serif;
  padding: 30px 20px;
  margin: 20px 50px ;
  background-color: $beige;
  color: white;
  box-shadow: 2px 2px 10px black;
}

a {
  text-decoration: none;
  color: darkgray;
  &:hover{
    text-decoration: none;
    color: black
  }
}


h4 {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  h1{
    font-size: 8em;
  }
}

@media screen and (min-width: 1400px) {
  h1{
    font-size: 8em;
  }
}
